table {
    border-collapse: collapse;
	border: 0px solid black;
    width: 100%;
	/* background-color: #9f9f9f; */
    color: black;
	border-radius: 3px;

}

tr:nth-child(even){background-color: #cfcfcf;}
tr:nth-child(odd){background-color: #f2f2f2;}

th {
	border: none;
    padding: 0px;
    text-align: left;
    border-bottom: 1px solid black;
    color: black;
	padding: 2px;
}

td {
	border: none;
    padding: 0px;
    text-align: left;
    color: black;
	padding: 2px;
}

fieldset {
	background-color: #cfcfcf;
    color: black;
	padding: 2px;
	border-radius: 3px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	background-color: #008CBA;
	width: 150px;
	padding: 0px;
	height: 24px;
	text-align: center;
    vertical-align:middle;
	text-decoration: none;
    color: initial;
}

button:hover {
    cursor: pointer;
}

h1 {
	color: #008CBA;
}

#IngredientIDSelect option{
	width:173px;
}